{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  // "parserOptions": { "project": ["./tsconfig.json"] },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "array-bracket-spacing": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-spacing": 2,
    "comma-style": 2,
    "max-len": ["error", { "code": 250 }],
    "object-curly-spacing": [
      2,
      "always",
      { "objectsInObjects": true, "arraysInObjects": true }
    ],
    "eol-last": 2,
    "func-call-spacing": 2,
    "func-name-matching": 2,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "key-spacing": [2, { "beforeColon": false }],
    "keyword-spacing": 2,
    "max-statements-per-line": [2, { "max": 1 }],
    "no-await-in-loop": 2,
    "no-global-assign": 2,
    "no-lonely-if": 2,
    "no-multiple-empty-lines": 2,
    "no-native-reassign": 2,
    "no-nested-ternary": 2,
    "no-spaced-func": 2,
    "no-tabs": 2,
    "no-template-curly-in-string": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-unneeded-ternary": 2,
    "no-unsafe-negation": 2,
    "no-useless-computed-key": 2,
    "no-warning-comments": 1,
    "object-curly-newline": [2, { "consistent": true }],
    "object-shorthand": 2,
    "padded-blocks": [2, "never"],
    "padding-line-between-statements": [
      2,
      { "blankLine": "always", "prev": "*", "next": "block" },
      { "blankLine": "always", "prev": "*", "next": "for" },
      { "blankLine": "always", "prev": "*", "next": "if" },
      { "blankLine": "always", "prev": "*", "next": "switch" },
      { "blankLine": "always", "prev": "*", "next": "try" },
      { "blankLine": "always", "prev": "*", "next": "while" },
      { "blankLine": "always", "prev": "block", "next": "*" },
      { "blankLine": "always", "prev": "for", "next": "*" },
      { "blankLine": "always", "prev": "if", "next": "*" },
      { "blankLine": "always", "prev": "switch", "next": "*" },
      { "blankLine": "always", "prev": "try", "next": "*" },
      { "blankLine": "always", "prev": "while", "next": "*" }
    ],
    "prefer-arrow-callback": [1, { "allowNamedFunctions": true }],
    "prefer-destructuring": 2,
    "prefer-numeric-literals": 1,
    "prefer-reflect": 1,
    "prefer-rest-params": 2,
    "prefer-template": 2,
    "require-yield": 0,
    "rest-spread-spacing": 2,
    "strict": [1, "never"],
    "space-before-blocks": 2,
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "asyncArrow": "always",
        "named": "never"
      }
    ],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": [2, { "words": true, "nonwords": false }],
    "template-curly-spacing": 2,
    "unicode-bom": 2,
    "comma-dangle": 0,
    "no-console": 0,
    "no-constant-condition": 2,
    "no-dupe-args": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": [1, "all"],
    "no-extra-semi": 2,
    "semi": 2,
    "no-unreachable": 2,
    "no-unexpected-multiline": 2,
    "accessor-pairs": 2,
    "consistent-return": 1,
    "curly": [2, "all"],
    "dot-notation": 1,
    "eqeqeq": 1,
    "no-eval": 2,
    "no-return-assign": [2, "always"],
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-shadow": [2, { "hoist": "all", "allow": ["e", "err"] }],
    "camelcase": [1, { "properties": "always" }],
    "arrow-parens": [2, "always"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "constructor-super": 2,
    "no-class-assign": 2,
    "no-var": 1,
    "prefer-const": 1,
    "prefer-spread": 1,
    "no-debugger": 1,
    "no-else-return": 1,
    "no-mixed-operators": 2
  },
  "globals": {
    "require": true
  }
}
