@import './_variables.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

input:-webkit-autofill {
	-webkit-box-shadow: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body > .footer_container {
	display: grid;
	position: sticky;
	width: 100%;
	background: #fff;
	margin-top: 50px;
	min-height: 100px;
	padding: 20px 50px;
}

.social_icons, .menu, .action_icons {
	display: inline-flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}

.action_icons {
	max-height: 1.5rem;
	min-width: 25rem;
	margin: 0 10px;
	justify-content: space-between;
	& svg {
		width: 1.25rem;
		height: 1.25rem;
	}
}

.menu a:hover {
	opacity: 1;
}

.dropzone {
	width: 100%;
	height: 5rem;
	margin: 2rem 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	font-weight: 500;
	border: 2px solid;
	border-color: white;
	border-radius: 10px;
}

.dropzone:hover {
	border: 2px solid;
	border-color: #3182ce;
	border-radius: 10px;
};

.dropzone:focus {
	outline: none;
	border: 2px solid;
	border-color:#3182ce;
	border-radius: 10px;
}

.post_images_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  width: 100%;
  grid-gap: 1rem;
}

.post_images_container > img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
	cursor: grabbing;
}

/* Style the modal */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1401; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fefefe;
}

.modal-text {
  margin-left: 14px;
  font-size: 24px;
}

/* Create the circle loader with pure CSS */
.loader {
  width: 50px;
  height: 50px;
  border: 8px solid #ddd;
  border-top: 8px solid #2196f3;
  border-bottom: 8px solid #2196f3;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* CAROUSEL */

.slider_container {
	display: grid;
	justify-content: center;
	width: 100%;
}

.slider {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.slideWidthBackground {
	min-width: 400px;
	height: 300px;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
}

.dotsContainerStyles {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.dotStyle {
	margin: 0 3px;
	cursor: pointer;
	font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 74px;
}

.slice {
  width: 0;
  height: 18px;
  background: yellow;
  overflow: hidden;
  border-radius: 2px;
  animation: Sliding 3s linear infinite alternate;

  &:nth-of-type(1) {
    background: $success_500;
    margin-left: 20px;
  }

  &:nth-of-type(2) {
    background: $logo_yellow;
    animation-delay: 1s;
    margin-left: 10px;
  }

  &:nth-of-type(3) {
    background: $error_500;
    animation-delay: 2s;
  }
}

@keyframes Sliding {
  0% {
    width: 0;
  }
  40% {
    width: 0;
  }
  60% {
    width: 54px;
  }

  100% {
    width: 54px;
  }
}

.overlay {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}

.error_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.error_image {
  object-fit: contain;
}

.error_title {
  object-fit: contain;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: $neutral_800;
  margin-top: 32px;
}

.error_text {
  max-width: 360px;
  object-fit: contain;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $neutral_600;
}

.error_wrapperButton {
  object-fit: contain;
  margin-top: 16px;
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
  }
}